@page "/"
@inject IMoviesService MoviesService
@inject IWatchListService WatchListService
@inject IToastService ToastService
@inherits BaseComponent

<PageTitle>Box Office</PageTitle>

<div class="container">
    <h1>Movies</h1>
    <Loader Toggle="IsLoading"></Loader>
</div>

<div class="container">
    <div class="row">
        <Virtualize Context="Movie" Items="MoviesService.MoviesList">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 p-2">
                <MovieCard MovieID="@Movie.MovieID"
                           MovieName="@(Movie.MovieName.Length > 28 ? $"{Movie.MovieName.Substring(0,25)}..." : Movie.MovieName)"
                           MovieNameTooltip="@Movie.MovieName"
                           Genere="@Movie.Genere"
                           Image="@Movie.Image"
                           Length="@Movie.Length"
                           ParentalGuide="@Movie.ParentalGuide"
                           Rate="@Movie.Rate"
                           ReleasedDate="@Movie.ReleasedDate"
                           AddWatchList="AddtoWatchLater"
                           Index="true">
                </MovieCard>
            </div>
        </Virtualize>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await MoviesService.GetMovies();
        IsLoading = false;
        await WatchListService.Init();
        base.OnInitialized();
    }

    public async Task AddtoWatchLater(SingleWatchList watchList)
    {
        if (WatchListService.CheckMovieExistance(watchList.MovieID))
        {
            await WatchListService.AddWatchList(watchList);
            ToastService.ShowSuccess($"{watchList.MovieName} has been added successfully");
            await WatchListService.GetWatchList(LoggedUser.Id);
        }
        else
            ToastService.ShowWarning($"{watchList.MovieName} already added");
    }
}
