@page "/Movies/{id}"
@using Microsoft.JSInterop.Implementation;
@inject IMoviesService MoviesService
@inject IReviewsService ReviewsService
@inject IJSRuntime JS
@inherits Pages.Index

<PageTitle>Movie : @Movie.MovieName</PageTitle>
<style>
    .zooming {
        transition: transform 0s !important;
    }

        .zooming:hover {
            transition: transform 0s !important;
            transform: scale(1.0) !important;
        }

    .btn-star{
        color:goldenrod;
    }
    .custom-cursor {
        cursor: default;
    }

    .image-card {
        width: auto !important;
    }
</style>

<Loader Toggle="IsLoading"></Loader>
<MovieCard MovieID="@Movie.MovieID"
           MovieName="@Movie.MovieName"
           MovieNameTooltip="@Movie.MovieName"
           Genere="@Movie.Genere"
           Image="@Movie.Image"
           Length="@Movie.Length"
           ParentalGuide="@Movie.ParentalGuide"
           Rate="@Movie.Rate"
           ReleasedDate="@Movie.ReleasedDate"
           AddWatchList="AddtoWatchLater"
           Index="false">
    <Description>
        <h5>@Movie.Description</h5>
        <h5><strong>Director: </strong>@Movie.Director</h5>
        <h5><strong>Writer: </strong>@Movie.Writer</h5>
        <h5>
            <strong>Stars: </strong>@Movie.Stars
        </h5>
    </Description>
    <Reviews>
        @if (ReviewsService.ReviewsList.Any())
        {
            <h4>Users Reviews</h4>
            <div class="row">
                @foreach (var item in ReviewsService.ReviewsList)
                {
                    <div class="col-3">
                        <div>
                            <p class="d-inline-block"><strong>Name: </strong>@($"{item.FirstName} {item.LastName}")</p>
                            @if (item.UserID == LoggedUser.Id)
                            {
                                <button class="btn d-inline" @onclick="()=> Edit(item.ReviewID)"><span class="bi bi-pencil-fill"></span></button>
                                <button class="btn d-inline" @onclick="()=> Delete(item.ReviewID)"><span class="bi bi-trash-fill"></span></button>
                            }
                        </div>
                        <p>
                            <strong>Rate: </strong>
                            @for(int stars = 1;stars <= item.Rate; stars++)
                            {
                                <span class="bi bi-star-fill"></span>
                            }
                        </p>
                        <p><strong>Feedback: </strong>@item.Feedback</p>
                        <p><strong>Date: </strong>@item.ReviewDate</p>
                    </div>
                }
            </div>
        }
        else
        {
            <h4>No Reviews</h4>
        }
    </Reviews>
    <ReviewForm>
        @if (!IsReviewed || IsEdit)
        {
            <EditForm Model="@Review" OnValidSubmit="Save">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h4>Submit Your Review</h4>
                @*<InputSelect class="form-select m-2" @bind-Value="Review.Rate">
            <span class="oi oi-arrow-bottom"></span>
            <option value="" selected disabled hidden>Click and Choose here</option>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
            </InputSelect>*@
                <div class="stars">
                    <label @onmouseover="()=> SetRate(0)">Rate</label>
                    <button type="button" class="btn" @onclick="()=> SetRate(1)">
                        <span id="firstStar" class="bi bi-star" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn" @onclick="()=> SetRate(2)">
                        <span id="secondStar" class="bi bi-star" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn" @onclick="()=> SetRate(3)">
                        <span id="thirdStar" class="bi bi-star" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn" @onclick="()=> SetRate(4)">
                        <span id="fourthStar" class="bi bi-star" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn" @onclick="()=> SetRate(5)">
                        <span id="fifthStar" class="bi bi-star" style="color:goldenrod;"></span>
                    </button>
                </div>
                <label>Feedback</label>
                <InputTextArea class="form-control m-2" @bind-Value="Review.Feedback" />
                <button type="submit" class="btn btn-primary my-3">Save</button>
                @if (IsEdit)
                {
                    <button class="btn btn-danger d-inline" @onclick="()=> IsEdit = false">Cancel</button>
                }
            </EditForm>
        }
    </ReviewForm>
</MovieCard>

@code {
    SingleMovie Movie = new();
    SingleReview Review = new();
    bool IsReviewed = false;
    bool IsEdit = false;

    IJSObjectReference module;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        Movie = await MoviesService.GetMovie(Convert.ToDecimal(Id.Replace('O', '.')));
        await GetAll();
    }

    protected override async Task OnAfterRenderAsync(bool firstrender)
    {
        if (firstrender)
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./scripts/MovieDetailsScript.js");
    }

    async Task GetAll()
    {
        IsLoading = true;
        await ReviewsService.GetReviews(Convert.ToDecimal(Id.Replace('O', '.')));
        IsReviewed = ReviewsService.ReviewsList.Where(w => w.UserID == LoggedUser.Id).Any();
        IsLoading = false;
    }

    async Task Save()
    {
        if (!IsReviewed)
        {
            Review.IsNew = true;
            Review.ReviewID = new GenerateNewID().GetNewID;
            Review.UserID = LoggedUser.Id;
            Review.MovieID = Convert.ToDecimal(Id.Replace('O', '.'));
            Review.ReviewDate = DateTime.Now;
            await ReviewsService.SaveReview(Review);
        }
        else
        {
            Review.IsNew = false;
            await ReviewsService.SaveReview(Review);
            IsEdit = false;
        }
        await GetAll();
        Review = new();
    }

    async Task Edit(decimal? id)
    {
        IsEdit = true;
        Review = await ReviewsService.GetSingleReview(id);
    }

    async Task Delete(decimal? id)
    {
        bool answer = await JS.InvokeAsync<bool>("confirm", "Are you sure to delete your review?");
        if (answer)
        {
            await ReviewsService.DeleteReview(id);
            await GetAll();
        }

    }

    async void SetRate(int stars)
    {
        await module.InvokeVoidAsync("SetStars", stars);
        Review.Rate = stars;
    }

    [Parameter]
    public string Id { get; set; }
}
