@page "/Movies/{id}"
@using Microsoft.JSInterop.Implementation;
@inject IMoviesService MoviesService
@inject IReviewsService ReviewsService
@inject IJSRuntime JS
@inherits Pages.Index

<PageTitle>Movie : @Movie.MovieName</PageTitle>
<style>
    .zooming {
        transition: transform 0s !important;
    }

        .zooming:hover {
            transition: transform 0s !important;
            transform: scale(1.0) !important;
        }

    .btn-star {
        color: goldenrod;
    }

    .custom-cursor {
        cursor: default;
    }

    .image-card {
        width: auto !important;
    }
</style>

<Loader Toggle="IsLoading"></Loader>
<MovieCard MovieID="@Movie.MovieID"
           MovieName="@Movie.MovieName"
           MovieNameTooltip="@Movie.MovieName"
           Genere="@Movie.Genere"
           Image="@Movie.Image"
           Length="@Movie.Length"
           ParentalGuide="@Movie.ParentalGuide"
           Rate="@Movie.Rate"
           ReleasedDate="@Movie.ReleasedDate"
           AddWatchList="AddtoWatchLater"
           Index="false">
    <Description>
        <h5>@Movie.Description</h5>
        <h5><strong>Director: </strong>@Movie.Director</h5>
        <h5><strong>Writer: </strong>@Movie.Writer</h5>
        <h5>
            <strong>Stars: </strong>@Movie.Stars
        </h5>
    </Description>
    <Reviews>
        <h4>Users Reviews</h4>
        @if (ReviewsService.ReviewsList.Any())
        {
            <div class="row">
                @foreach (var item in ReviewsService.ReviewsList)
                {
                    <div class="col-3">
                        <div>
                            <p class="d-inline-block"><strong>Name: </strong>@($"{item.FirstName} {item.LastName}")</p>
                            @if (item.UserID == LoggedUser.Id)
                            {
                                <button class="btn d-inline" @onclick="()=> Edit(item.ReviewID)"><span class="bi bi-pencil-fill"></span></button>
                                <button class="btn d-inline" @onclick="()=> Delete(item.ReviewID)"><span class="bi bi-trash-fill"></span></button>
                            }
                        </div>
                        <p>
                            <strong>Rate: </strong>
                            @for (int stars = 1; stars <= item.Rate; stars++)
                            {
                                <span class="bi bi-star-fill"></span>
                            }
                        </p>
                        <p><strong>Feedback: </strong>@item.Feedback</p>
                        <p><strong>Date: </strong>@item.ReviewDate</p>
                    </div>
                }
            </div>
        }
        else
        {
            <h5>No Reviews</h5>
        }
    </Reviews>
    <ReviewForm>
        @if (!IsReviewed || IsEdit)
        {
            <EditForm Model="@Review" OnValidSubmit="Save">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h4>Submit Your Review</h4>
                <div class="d-flex">
                    <label class="my-2">Rate </label>
                    <button type="button" class="btn"
                        @onmouseout="@(()=> SetRate("out",1))" @onmouseover="@(()=> SetRate("over",1))" @onclick="@(()=> SetRate("click",1))">
                        <span class="bi @firstStar" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn"
                        @onmouseout="@(()=> SetRate("out",2))" @onmouseover="@(()=> SetRate("over",2))" @onclick="@(()=> SetRate("click",2))">
                        <span class="bi @secondStar" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn"
                        @onmouseout="@(()=> SetRate("out",3))" @onmouseover="@(()=> SetRate("over",3))" @onclick="@(()=> SetRate("click",3))">
                        <span class="bi @thirdStar" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn"
                        @onmouseout="@(()=> SetRate("out",4))" @onmouseover="@(()=> SetRate("over",4))" @onclick="@(()=> SetRate("click",4))">
                        <span class="bi @fourthStar" style="color:goldenrod;"></span>
                    </button>
                    <button type="button" class="btn"
                        @onmouseout="@(()=> SetRate("out",5))" @onmouseover="@(()=> SetRate("over",5))" @onclick="@(()=> SetRate("click",5))">
                        <span class="bi @fifthStar" style="color:goldenrod;"></span>
                    </button>
                </div>
                <div class="col-md-6">
                    <label>Feedback</label>
                    <InputTextArea class="form-control col-md-6" @bind-Value="Review.Feedback" />
                </div>
                <button type="submit" class="btn btn-primary my-3">Save</button>
                @if (IsEdit)
                {
                    <button class="btn btn-danger d-inline" @onclick="()=> IsEdit = false">Cancel</button>
                }
            </EditForm>
        }
    </ReviewForm>
</MovieCard>

@code {
    SingleMovie Movie = new();
    SingleReview Review = new();
    bool IsReviewed = false;
    bool IsEdit = false;
    string firstStar = "bi-star";
    string secondStar = "bi-star";
    string thirdStar = "bi-star";
    string fourthStar = "bi-star";
    string fifthStar = "bi-star";

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        Movie = await MoviesService.GetMovie(Convert.ToDecimal(Id.Replace('O', '.')));
        await GetAll();
    }

    async Task GetAll()
    {
        IsLoading = true;
        await ReviewsService.GetReviews(Convert.ToDecimal(Id.Replace('O', '.')));
        IsReviewed = ReviewsService.ReviewsList.Where(w => w.UserID == LoggedUser.Id).Any();
        IsLoading = false;
    }

    async Task Save()
    {
        if (!IsReviewed)
        {
            Review.IsNew = true;
            Review.ReviewID = new GenerateNewID().GetNewID;
            Review.UserID = LoggedUser.Id;
            Review.MovieID = Convert.ToDecimal(Id.Replace('O', '.'));
            Review.ReviewDate = DateTime.Now;
            await ReviewsService.SaveReview(Review);
        }
        else
        {
            Review.IsNew = false;
            await ReviewsService.SaveReview(Review);
            IsEdit = false;
        }
        await GetAll();
        Review = new();
    }

    async Task Edit(decimal? id)
    {
        IsEdit = true;
        Review = await ReviewsService.GetSingleReview(id);
    }

    async Task Delete(decimal? id)
    {
        bool answer = await JS.InvokeAsync<bool>("confirm", "Are you sure to delete your review?");
        if (answer)
        {
            await ReviewsService.DeleteReview(id);
            await GetAll();
        }

    }

    void SetRate(string type, int? stars)
    {
        if (type == "out")
            stars = Review.Rate;
        switch (stars)
        {
            case 1:
                firstStar = "bi-star-fill";
                secondStar = "bi-star";
                thirdStar = "bi-star";
                fourthStar = "bi-star";
                fifthStar = "bi-star";
                break;
            case 2:
                firstStar = "bi-star-fill";
                secondStar = "bi-star-fill";
                thirdStar = "bi-star";
                fourthStar = "bi-star";
                fifthStar = "bi-star";
                break;
            case 3:
                firstStar = "bi-star-fill";
                secondStar = "bi-star-fill";
                thirdStar = "bi-star-fill";
                fourthStar = "bi-star";
                fifthStar = "bi-star";
                break;
            case 4:
                firstStar = "bi-star-fill";
                secondStar = "bi-star-fill";
                thirdStar = "bi-star-fill";
                fourthStar = "bi-star-fill";
                fifthStar = "bi-star";
                break;
            case 5:
                firstStar = "bi-star-fill";
                secondStar = "bi-star-fill";
                thirdStar = "bi-star-fill";
                fourthStar = "bi-star-fill";
                fifthStar = "bi-star-fill";
                break;
            default:
                firstStar = "bi-star";
                secondStar = "bi-star";
                thirdStar = "bi-star";
                fourthStar = "bi-star";
                fifthStar = "bi-star";
                break;
        }
        if (type == "click")
            Review.Rate = stars;

    }

    [Parameter]
    public string Id { get; set; }
}
